/*table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}*/

/*th, td {
    text-align: center;
    padding: 8px;
}*/

/*tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #607D8B;
    color: white;
}*/

button{
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #607D8B;
}

button:hover {
    color: #039be5;
    background-color: #CFD8DC;
}