button{
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #1976D2;
}

button:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

.ready-to-open{
    background-color: #B2DFDB;
}

.ready-to-close{
    background-color: rgb(223, 178, 178);
}
