<section>
<div class="table-container">
  <div class="item-number-option">
    <mat-form-field>
      <mat-select #selectItems placeholder="Items per page" [value]="10">
        <mat-option *ngFor="let item of items" [value]="item.value">
          {{ item.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="item-number-option sorting-list-container">
    <mat-form-field>
      <mat-select #orderItems placeholder="Order by" [value]="10">
        <mat-option [value]="TopicName" (click)="orderByTopic()">Topic name</mat-option>
        <mat-option [value]="Description" (click)="orderByDescription()">Description</mat-option>
        <mat-option [value]="CreationDate" (click)="orderByCreationDate()">Creation Date</mat-option>
        <mat-option [value]="Learning" (click)="orderByLearning()">Learning</mat-option>
        <mat-option [value]="Teachers" (click)="orderByTeachers()">Teachers</mat-option>
        <mat-option [value]="Chat" (click)="orderByChat()">Chat</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="clear"></div>
  <table class="bordered highlight responsive-table" [mfData]="topics" #mf="mfDataTable" [mfRowsOnPage]="selectItems.value==undefined?10:selectItems.value">
    <thead class="bordered highlight responsive-table">
      <tr>
        <th><a (click)="orderByTopic()">Topic<i class="material-icons order-icons">&#xE240;</i></a></th>
        <th><a (click)="orderByDescription()">Description<i class="material-icons order-icons">&#xE240;</i></a></th>
        <th><a (click)="orderByCreationDate()">Creation date<i class="material-icons order-icons">&#xE240;</i></a></th>
        <th><a (click)="orderByLearning()">Learning<i class="material-icons order-icons">&#xE240;</i></a></th>
        <th><a (click)="orderByTeachers()">Guiding<i class="material-icons order-icons">&#xE240;</i></a></th>
        <th><a (click)="orderByChat()">Chat<i class="material-icons order-icons">&#xE240;</i></a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let topic of mf.data" [class.ready-to-open]="checkReady(topic.students, topic.teachers)" [class.ready-to-close]="checkReadyToClose(topic.createdAt, topic.students, topic.teachers)">
        <td>{{ topic.name }}</td>
        <td class="description-field">{{ topic.description }}</td>
        <td >{{ topic.createdAt | timeAgo }}</td>
        <td class="right-align">{{ topic.students }}</td>
        <td class="right-align">{{ topic.teachers }}</td> 
        <td class="chat-field">{{ topic.chat }}</td>
        <div class="button-container"> 
          <a class="icon-container black-text" (click)="openDialog(topic)"><i class="material-icons edition-icons">create</i>Open</a>
          <a (click)="openCloseDialog(topic)" class="icon-container black-text"><i class="material-icons edition-icons">close</i>Close</a>
        </div>
      </tr>
    </tbody>
    <tfoot>
      <td>
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tfoot>
  </table>
</div>
</section>