<h1 mat-dialog-title>{{data.topic.name}}</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field class="full-width">
      <textarea #descriptionText matInput matTextareaAutosize matAutosizeMaxRows="15" placeholder="Description *" value="{{data.topic.description}}"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input #linkText matInput placeholder="Link *" value="{{data.topic.chat}}">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="createTopic(data.topic, linkText.value, descriptionText.value)">Save</button>
  <button mat-button [mat-dialog-close]="" >Close</button>
</div>