@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

a{
    cursor: pointer;
}

.active{
    font-weight: bold;
    background-color: #607D8B;
    color: white;
}

.block{
    display: block;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.button-container{
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
    max-width: 152px;
    margin: 0;
}

.clear{
    clear: both;
}

.description-field, .chat-field, .date-field{
    min-width: 180px;
    max-width: 180px;
}

.edition-icons{
    position: relative;
    margin-right: 4px;
    top: 5px;
}

.hidden{
    display: none;
}

.icon-container{
    display: block;
    text-align: center;
    padding-left: 16px;
}

.icon-container:hover{
    background-color: rgba(96, 125, 139, 0.5)
}

.item-number-option{
    position: absolute;
    font-size: 0.8em;
    max-width: 132px;
    top: 13px;
    left: 87%;
}

.item-number-option mat-form-field{
    width: 120px;
}

.order-icons{
    position: absolute;
    top: 36px;
    margin-left: 1px;
    font-size: 0.9em;
}

.page-item{
    padding: 8px;
}

.sorting-list-container{
    display: none;
}

.right-align{
    text-align: right;
}

table{
    width: 100%;
    border-spacing: 0;
}

.table-container{
    width: 70%;
    position: relative;
    top: 66px;
    z-index: 10;
    margin: 0 auto;
}

th, td {
    text-align: left;
    font-weight: 1;
    font-size: 0.9em;
    padding: 16px 8px;
    color: rgba(0,0,0,.7); 
}

th{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    margin: 0em;
    padding-top: 32px;
    font-weight: bold;
}

td{
    color: #212121;
    font-size: 0.9em;
}

td:nth-of-type(3) { min-width: 100px; }
td:nth-of-type(4), td:nth-of-type(5) { min-width: 70px; }

th:hover{
    color: #000;
}

tfoot{
    display: block;
    width: 100%;
    justify-content: center;
}

tfoot td{
    padding: 0;
}

ul{
    list-style: none;
    display: flex;
}

@media only screen and (max-width: 1024px) {
    .table-container{
        width: 100%;
    }

    .item-number-option{
        top: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .order-icons{
        top: 35px;
        font-size: 1em;
    }

    .description-field, .chat-field, .date-field{
        min-width: 0;
    }

    .item-number-option{
        top: 11px;
        left: 81%;
    }

    .button-container {
        max-width: 100px;
        padding-bottom: 4px;
    }

    .icon-container{
        padding-left: 8px;
        padding-top: 8px;
        font-size: 0.9em;
    }    

    .item-number-option {
        float: left;
        padding-left: 8px;
        position: relative;
        font-size: 0.8em;
        max-width: 132px;
        top: 7px;
        left: 0;
    }

    .item-number-option mat-form-field{
        width: 120px;
    }

    .sorting-list-container{
        display: block;
        float: right;
        padding-right: 8px;
    }

    tr{
        width: 100%;
    }

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: left;
        padding-top: 0;
        padding-bottom: 4px;
        top: 8px;
	}
	
	td:before { 
		position: absolute;
		top: 0;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        white-space: nowrap;
        font-weight: bold;
	}
	
	td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Description"; }
	td:nth-of-type(3):before { content: "Open date"; }
	td:nth-of-type(4):before { content: "Learning"; }
    td:nth-of-type(5):before { content: "Guiding"; left: 0; }
    td:nth-of-type(6){
        clear: both;
        display: block;
    }

    /*td:nth-of-type(5) { padding-left: 0 }*/

    td:nth-of-type(6):before { content: "Chat"; clear: both;}

    tfoot td:before{
        display: none;
    }
    
    .right-align{
        text-align: left;
        width: 25%;
        padding-left:25%;
        float: left;
        padding-right: 0;
    }

    .right-align:before{
        text-align: left;
        width: 25%;
    }
} 